@import "styles/vars";

.button {
  padding: 10px;

  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;
  text-align: center;

  border: none;

  border-radius: 5px;

  font-family: $font-family;
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 19px;
}

.primary {
  color: $color-white;
  background: $color-primary;

  &:hover {
    background: $color-primary-hover;
  }
}

.ghost {
  color: $color-black;
  border: 1px solid $color-light-gray;
  background: $color-white;

  &:hover {
    background: darken($color-white, 5%);
  }
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.primary svg {
  fill: $color-white;
}

.down {
  transform: rotate(90deg);
}