@import "styles/vars";

.h1, .h2, .h3 {
  font-family: $font-family;
  color: $color-black;
}

.h1 {
  font-weight: $fw-medium;
  font-size: 26px;
  line-height: 35px;
}

.h2 {
  font-weight: $fw-medium;
  font-size: 22px;
  line-height: 30px;
}

.h3 {
  font-weight: $fw-semi-bold;
  font-size: 20px;
  line-height: 27px;
}

// Посметр 002 первый компонент