* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	overflow-x: hidden;

	max-width: 100vw;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

@import "styles/vars";

body {
	color: $color-black;
	background-color: #E5E5E5;

	font-family: $font-family;
}

//011 [x]
