$font-family: 'Noto Sans', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;


$color-black: #3B434E;
$color-white: #FFFFFF;
$color-primary: #7653FC;
$color-primary-hover: #5731e8;
$color-red: #FC836D;
$color-green: #1DC47E;
$color-light-green: #C8F8E4;
$color-light-gray: #EBEBEB;